@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: #1f1f1f !important;
}

.leaflet-container {
  background-color: #333333 !important;
}

.leaflet-bar a,
.leaflet-control a {
  transition: color .2s ease-in, background-color .2s ease-in !important;
}

.marker {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  transition: background-color .2s ease-in;
  font-size: 11px;
  text-align: center;
  padding: 1px 7px;
}

.marker-sale {
  background-color: #0082a3;
  color: #fff;
}

.marker-sale:hover {
  background-color: #006d8f;
  transition: background-color .2s ease-in;
}

.marker-sale::after {
  position: absolute;
  top: 19px;
  width: 0;
  height: 0;
  border-top: solid 5px #0082a3;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  content: '';
}

.marker-rent {
  background-color: #a22769;
  color: #fff;
}

.marker-rent:hover {
  background-color: #8c1e5c;
  transition: background-color .2s ease-in;
}

.marker-rent::after {
  position: absolute;
  top: 19px;
  width: 0;
  height: 0;
  border-top: solid 5px #a22769;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  content: '';
}