:root {
    --color-primary: rgba(43, 43, 43, 0.9);
    --color-primary-background: rgb(43, 43, 43);
    --color-primary-border: rgb(255, 255, 255, 0.15);
    --color-secondary: #fff;
    --color-secondary-text: #fff;
    --main-font: 'Roboto', sans-serif;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#coordinates {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-family: var(--main-font);
    color: var(--color-secondary);
    background-color: var(--color-primary);
    border-radius: 3px;
    z-index: 100;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

#sidebar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 1rem;
    border-width: 0px !important;
    background: var(--color-primary-background) !important;
}

.card {
    margin: .5rem 0;
    border: 2px solid var(--color-primary-border) !important;
}

.card-body {
    background: var(--color-primary-background) !important;
}

.leaflet-tile-container img {
    will-change: transform;
    outline: 1px solid transparent;
}

.leaflet-control-zoom a {
    color: var(--color-secondary) !important;
    background: var(--color-primary) !important;
    transition: all 0.5s ease;
}

.leaflet-control-zoom a:hover {
    color: white !important;
    background: var(--color-primary) !important;
}